body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    color: #00338D !important;
    background: #00338D !important;
}

.navbar-brand {
    color: #ffffff !important;
}

.navbar-link {
    color: #ffffff !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.pt-3 {
    padding-top: 3px !important;
}

.btn-eac-main {
    background: #00338D !important;
    color: #ffffff !important;
    width: 345px !important;
    height: 34px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.btn-eac-secondary {
    background: #ffffff !important;
    color: #000000 !important;
    width: 345px !important;
    height: 34px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

